header {
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  background-color: black;
}

h1 {
  color: gold;
  margin-top: 5em;
  margin-left: 2em;
  font-size: 50px;
  position: absolute;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  animation-name: coloring;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes coloring {
  from {
    color: gold;
  }
  to {
    color: white;
  }
}

.text {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 15em;
  margin-bottom: 2em;
  font-size: 3em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(0, 0, 0, 0.692);
  display: flex;
  justify-content: center;
}

mark {
  font-size: 1.5em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', seri;
  background-color: #E9E9eb;
}

.applayout {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 15em;
  margin-right: 15em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #E9E9eb;
}

#submit {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 5em;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.4em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav>ul>li>a {
  display: block;
  color: #f2f2f2;
  padding: 1em 1.5em;
  text-decoration: none;
}

nav>ul>li>a:hover {
  color: gold;
}

#menu-button {
  display: none;
}

a.app {
  color: #ffffff;
  background-color: rgba(255, 187, 0, 0.829);
}

a.app:hover {
  color: #ffffff;
  background-color: gold;
}

.content {
  margin: 8px;
  padding: 8px;
  color: honeydew;
}

@media (max-width: 850px) {
  header {
    margin: -8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 8px;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 0 0 20px black;
  }
  nav {
    display: none;
    position: absolute;
    top: 100%;
  }
  nav.open {
    display: block;
  }
  nav>ul {
    flex-direction: column;
    background-color: black;
  }
  #menu-button {
    display: block;
  }
  #menu-button:hover {
    background-color: gold;
  }
}

@media (min-width: 1300px) {
  .text {
    margin-top: 20em;
  }
}